<template>
    <div class="search-bar">
        <lightning-input
            name="enter-search"
            type="search"
            onchange={handleInputChange}
            onblur={handleOnBlur} >
        </lightning-input>
       
        <!-- Temporary Data to show as result of the search -->
        <div class="slds-combobox_container slds-combobox-addon_end tile-container">
            <ul class="">
                <template  if:true={isRendered} for:each={searchResultList} for:item="value" for:index="index"> 
                    <li class="slds-item" key={value.id} > 
                        <lightning-tile class="tile slds-listbox__option-text">
                            <lightning-formatted-text class="slds-truncate keys" data-index={index} value={value.dataItem}></lightning-formatted-text>
                        </lightning-tile>
                    </li>
                </template>
            </ul>
        </div>
     </div>
</template>
